* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B4D4FF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 25px;
    background-color: #EEF5FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 60px;
}

header img:hover{
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-color: #176B87;
    color: #fff;
    padding: 5px;
}


.title img {
    width: 50px;
    margin-right: 10px;
}

.title h1 {
    margin: 0;
}

.title .link-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.title h3 {
    margin: 0 10px;
    cursor: pointer;
}

.title h3:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    background-color: #176B87;
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer p{
    text-align: right;
}

select{
    width: 100px;
    border: 1px solid #ccc;
}